.main {
	position: relative;
	padding-top: 50px;
}
.main::before {
	content: "";
	position: absolute;
	height: calc(100% - 355px);
	width: 2px;
	background-color: gainsboro;
	z-index: 2;
	top: 355px;
	left: 20px;
}
.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	width: 100%;
	margin-top: 15px;
}

.title {
	font-size: 3rem;
	padding: 10px;
}
